<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="VotingOS.My.MySettings.usersConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\users.accdb"
            providerName="System.Data.OleDb" />
        <add name="VotingOS.My.MySettings.CandidatesHeadBoyConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\CandidatesHeadBoy.accdb"
            providerName="System.Data.OleDb" />
        <add name="VotingOS.My.MySettings.CandidatesHeadGirlConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\CandidatesHeadGirl.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>